.custom-node {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
  }
  
  .custom-node.interaction-node {
    background-color: #fbe9e7;
  }
  
  .custom-node.llm-node {
    background-color: #ede7f6;
  }
  
  .custom-node.logic-node {
    background-color: #e8f5e9;
  }
  
  .custom-node.data-node {
    background-color: #e3f2fd;
  }
  .custom-node.start-node {
    background-color: #dff9fb;
    border: 2px solid #22a6b3;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .custom-node.end-node {
    background-color: #f8b8b8;
    border: 2px solid #eb4d4b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  /* Handles */
.react-flow__handle {
  border-radius: 50%;
  cursor: pointer;
}

.react-flow__handle-target {
  height: 12px;
  width: 12px;
  border: 2px solid red;
}

.react-flow__handle-source {
  height: 12px;
  width: 12px;
  border: 2px solid green;
}

/* Edges */
.react-flow__edge-path {
  stroke-width: 3 !important;
  stroke: #888;
}

.react-flow__edge-arrowhead {
  fill: rgba(185, 25, 25, 0.533); /* Arrows color */
}